
*{
    box-sizing: border-box;
}
body{    
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin: 0;   
    background: linear-gradient(90deg,rgba(0, 0, 0, 0) 50%,rgba(255, 255, 255, 0.1) 50%,rgba(0, 0, 0, 0) 52%),
                linear-gradient(180deg,rgba(0, 0, 0, 0) 50%,rgba(255, 255, 255, 0.1) 50%,rgba(0, 0, 0, 0) 52%);
    background-size: 3px 3px;
    background-color: #303030;
  } 
.wrapper{
  background:linear-gradient(to right, rgb(15, 15, 15) 50%, transparent 50%);
}
.container {
    display: flex;  
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
.mobile-menu__checkbox {
  display: none;
}
.aside-column{      
    flex: 1 1 25%;
    padding: 20px 28px 20px 28px;
    background-color: rgb(15, 15, 15);
    box-sizing: border-box; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header{    
    align-self: start;
    padding-bottom: 15px;
  }
.logo-title{    
    font-family: 'Yellowtail', cursive;
    font-size: 45px;
    color:#f39c12;
    line-height: 0.1;
  }
.logo-subtitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.2;
  }
.nav{
    flex: 1 1 auto;
}
.menu-nav{
  list-style: none;
  padding: 0;
}
.menu-list{
  text-transform: uppercase;
  font-size: 15px;
}
.menu-nav .menu-list a{
  color: white;
  text-decoration: none;
}
.menu-nav .menu-list a:hover{
  color:#f39c12;
  transition: 0.2s;
}
.menu-nav .menu-list a:focus{
  color:rgb(221, 28, 221);
}
.padding{
  padding-bottom: 20px;
}
.footer{
  flex: 0 1 auto ;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 0.5;
}

.main{
  width: 100%;
  padding-top: 30px;
  background: linear-gradient(90deg,rgba(0, 0, 0, 0) 50%,rgba(255, 255, 255, 0.1) 50%,rgba(0, 0, 0, 0) 52%),
  linear-gradient(180deg,rgba(0, 0, 0, 0) 50%,rgba(255, 255, 255, 0.1) 50%,rgba(0, 0, 0, 0) 52%);
  background-size: 3px 3px;
  background-color: #303030;
}
.main-column{
  display: flex;
  justify-content: space-evenly;
   
  flex-wrap: wrap;
  }
.main-column:last-child {
  margin-bottom: 30px;
  }
.photo {
  margin: 15px 5px;  
  position: relative;  
}
.photo:last-child {
  margin-right: 0;
}

img {    
  max-width: 190px;
  height: 190px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  transition: all 0.5s;
}
img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none;
}
.photo:hover::after{
  position: absolute;
  content: '';
  width: 47px;
  height: 47px;
  left: 0;
  bottom:0;
  opacity: 1;
  background: #f39c12 url('../img/full-screen.png') no-repeat center center;
  transition: opacity 0.5s; 
}
.mobile-menu__container{
  display: none;
}


@media screen and (max-width: 680px){
  .container{
    flex-wrap: wrap;
  }
  .aside-column{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    top: 0;
    flex-direction: row;
    background-color: rgb(15, 15, 15);
    left: 0;
    right: 0;
    height: 60px;
    z-index: 9;
  }
  .header{
    align-self: center;
    padding:0;
  }
  .mobile-nav{
    display: none;
  }
  .footer-mobile{
    display: none;
  }
  .nav{
    flex: 0 1 auto;
  }

  .logo-subtitle__mobile{
    font-size: 0;
  }

  .mobile-menu__container{
    position: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    top:0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 0;
    opacity: 1;
    transition: .5s;
    overflow: hidden;
    background-color: rgb(15, 15, 15);
    z-index: 999; 
  }
  .mobile-menu__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 30px;
    cursor: pointer;
    transition: .4s;
    z-index: 9999;
  }
  .mobile-menu__icon {
    display: block;
    position: relative;
    background: white;
    width: 90%;
    height: 4px;
    transition: .4s;
  }
  .mobile-menu__icon::after, .mobile-menu__icon::before {
    content: "";
    display: block;
    position: absolute;
    background: white;
    width: 100%;
    height: 4px;
    transition: .3s;
  }
  .mobile-menu__icon::after {
    top: 8px;
  }
  .mobile-menu__icon::before {
    top: -8px;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__nav {
    opacity: 1;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__container {
    height: 100%;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
    background: transparent;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before,
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    top: 0;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }


}